@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #032541;
  height: 64px;
  width: 100%;
  z-index: 10;
  transition: top 0.2s linear;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 1100px;
  color: #fff;
}

.menu {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 25%;
  padding: 5px;
  width: max-content;
}

.navLink {
  margin: 5%;
  font-size: 16px;
  font-weight: bold;
}

.main {
  display: flex;
  align-items: center;
  background: #025e82;
  position: fixed;
  top: 3%;
  margin: 0 16%;
  width: 70%;
  height: 35%;
}
.movieMain {
  display: flex;
  align-items: center;
  background: #025e82;
  position: fixed;
  top: 6%;
  margin: 0px 16%;
  width: 65%;
  overflow-y: scroll;
  height: 94%;
  padding-top: 45em;
  padding-bottom: 2em;
  color: #fff;
}
.moviePoster{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
.moviePosterInfo{
  margin-left: 10px;
}

.title {
  color: #fff;
  line-height: 1;
  margin-bottom: auto;
  margin-left: 15%;
}

.search {
  display: grid;
  margin-left: 14%;
  width: 100%;
  max-width: 11000px;
  height: 3em;
}
.searchInput {
  border-radius: 30px;
  border-color: #fff;
  padding: 10px 20px;
  color: rgba(0,0,0,0.5);
}

.searchInput::after{
  border-color:#fff ;
}

.button{
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 46px;
    padding: 10px 26px;
    border: none;
    background: #0cc1ce;
    border-radius: 30px;
    position: absolute;
    top: 61.5%;
    left: 44%;
    color: #fff;
    z-index: 9999999;
}
.button :hover{
  color: #1111;
}